:root{
    --cor-branco: #fff;
    --cor-cinza: gray;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #141414;
}

header {
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 32px;
}

.background__img {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9) 5%,
        rgba(0, 0, 0, 0.2) 20%,
        rgba(0, 0, 0, 0.2) 80%,
        rgba(0, 0, 0, 0.8) 100%
      ),
        url("../images/poster.png");
    background-size: cover;
    padding: 0.30rem 0.75rem 0 0.75rem;
}

/* HEADER LINKS */
.header__img {
    width: 7rem;
    cursor: pointer;
    margin-right: 29px;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__mapa ul {
    display: flex;
    color: var(--cor-cinza);
    gap: 12px;
    font-size: 0.9rem;
}

.navbar__mapa ul li:hover {
    color: var(--cor-branco);
}

/* HEADER DA DIREITA */
.navbar__user ul, .navbar__user ul li a {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.3rem;
}

.navbar__user img {
    width: 2rem;
    border-radius: 3px;
}


/* BANNER PRINCIPAL */
.banner {
    height: 80%;
    display: flex;
    flex-direction: column;
    width: 36%;
    padding: 14rem 3rem;
    gap: 1rem;
}

.banner__texto{
    color: var(--cor-branco);
    font-size: 22px;
    margin-bottom: 24px;
}

.banner div {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.banner__btn {
    height: 3.5rem;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;
    cursor: pointer;
}

.banner__btn-play {
    background-color: var(--cor-branco);
}

.banner__btn-info {
    background-color: rgba(109, 109, 110, 0.4);
    color: var(--cor-branco);
}